.navbar {
  display: flex;
  vertical-align: middle;
  margin-bottom: 0.8rem;
  background-color: rgb(0, 100, 0);
}

.navbar a {
  padding: 0.8rem;
  vertical-align: middle;
  color: white;
}

.navLink.active {
  background-color: white;
  color: rgb(0, 100, 0);
  font-weight: bold;
  border: 1.5px solid rgb(0, 100, 0);
}

.navLink {
  font-size: 1.1rem;
  text-decoration: none;
}