body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.amountstyle {
  font-size: medium;
  margin-left: -0.5cm;
}

.handlecreateexpense{
  font-size: small;
  margin-left: 0.5cm;
  text-align: left;
  margin-top: 0.5cm;
}

.datamap{
  text-align: left;
  margin-left: 5cm;
  margin-right: 5cm;
}

.handlecreateexpense input {
  margin-right: 20cm;
}

.handlecreateexpense button {
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

